<template>
  <div class="error-page window-height window-width bg-light column items-center no-wrap">
    <div class="error-code bg-dark flex items-center content-center justify-center">
      {{ total | currency }}
    </div>
    <div>
      <div class="error-card column items-center justify-center no-wrap">
        <p>
          <q-btn
            round
            icon="ion-social-facebook"
            color="primary"
            @click="add2Cents('facebook')"
          />

          <q-btn
            round
            icon="ion-social-instagram"
            color="orange"
            @click="add2Cents('instagram')"
          />

          <q-btn
            round
            icon="ion-social-twitter"
            color="green"
            @click="add2Cents('twitter')"
          />
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import {
  QBtn,
  QIcon
} from 'quasar'

export default {
  computed: {
    total () {
      return this.$store.getters.total
    }
  },

  methods: {
    add2Cents (platform) {
      this.$store.dispatch('add2Cents', platform)
    },

    reset () {
      this.$store.dispatch('reset')
    }
  },

  components: {
    QBtn,
    QIcon
  }
}
</script>

<style lang="stylus">
.error-page
  .error-code
    height 50vh
    width 100%
    padding-top 5vh
    @media (orientation: landscape) {
      font-size 20vw
    }
    @media (orientation: portrait) {
      font-size 20vh
    }
    color rgba(255, 255, 255, .2)
    overflow hidden
  .error-card
    margin-top -30px
    width 80vw
    max-width 600px
    > i
      font-size 5rem
</style>
