<template>
  <!-- Don't drop "q-app" class -->
  <div id="q-app">
    <q-layout ref="layout" view="hHr LpR lFf">

      <router-view />

      <!-- Footer -->
      <q-toolbar color="dark" slot="footer">
        <q-btn flat @click="about">
          About
        </q-btn>

        <q-toolbar-title />

        <q-btn flat @click="reset" right>
          Reset
        </q-btn>
      </q-toolbar>

    </q-layout>
  </div>
</template>

<script>
/*
 * Root component
 */
import { TOKEN } from './store'
import {
  Dialog,
  QBtn,
  QLayout,
  QToolbar,
  QToolbarTitle
} from 'quasar'

export default {
  created () {
    if (localStorage.getItem(TOKEN)) {
      this.$store.commit('INIT')
    }
  },

  methods: {
    about () {
      Dialog.create({
        title: 'About',
        message: `
          dollar80 is a counter app that increments by $0.02. It was built
          as a way to track how much you are engaging and contributing to
          your online communities and was inspired by Gary Vaynerchuk's $1.80
          strategy for follower growth.
        `,
        buttons: [
          'Got It'
        ]
      })
    },

    reset () {
      Dialog.create({
        title: 'Reset',
        message: 'You are about to clear your total cents count.',
        buttons: [
          {
            label: 'Do It',
            handler: () => {
              this.$store.dispatch('reset')
            }
          },
          'Nevermind'
        ]
      })
    }
  },

  components: {
    QBtn,
    QLayout,
    QToolbar,
    QToolbarTitle
  }
}
</script>

<style></style>
